<html>

<head>
    <title>
        <%=title%>
    </title>
    <!-- friconix provides free icons -->
    <script defer src="https://friconix.com/cdn/friconix.js">
    </script>
    <!-- link to our css file present in assets folder -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="https://kit.fontawesome.com/f1e91ef8d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <!-- outer DIV that contains the background image -->

    <div class="outer-div">

        <!-- TODO CONTAINER -->

        <div class="todo-container">

            <!-- NAME OF APP -->
            <div class="heading">
                <!-- <i class="fas fa-clipboard-list"></i> -->
                <h1>TODO App</h1>
            </div>


            <div class="add-task-button-form">


                <!-- ADD TASK FORM STARTS HERE -->


                <form action="/create-task" method="POST">

                    <!-- DESCRIPTION CONTAINER -->

                    <div class="description-conatiner">
                        <!-- description head -->
                        <div class="desc">
                            <h5>DESCRIPTION</h5>
                        </div>
                        <!-- actual description -->
                        <div class="desc-form">

                            <!-- input description -->

                            <input type="text" name="task_title" placeholder="What do you need to do?" autocomplete="off" class="input-feilds" required>

                        </div>

                    </div>

                    <!-- DETAILS CONTAINER -->

                    <div class="details-container">
                        <!-- category container -->
                        <div class="category-container">

                            <!-- category head -->
                            <div class="desc">
                                <h5>CATEGORY</h5>
                            </div>

                            <!-- actual category -->
                            <div class="desc-form">

                                <!-- select category -->

                                <select class="input-feilds" name="category" id="selection">
                                    <option value="" disabled selected hidden>Choose a category</option>
                                    <option  class="black-text" value="Personal">Personal</option>
                                    <option class="black-text" value="Work">Work</option>
                                    <option class="black-text" value="School">School</option>
                                    <option class="black-text" value="Cleaning">Cleaning</option>
                                    <option class="black-text" value="Other">Other</option>
                                </select>

                            </div>
                        </div>

                        <!-- due-date container -->
                        <div class="due-date-container">

                            <!-- due date head -->
                            <div class="desc">
                                <h5>DUE DATE</h5>
                            </div>

                            <!-- actual due date -->
                            <div class="desc-form">

                                <!-- input due date -->
                                <input type="date" id="datepicker" name="due_date" class="input-feilds" min="2019-06-09">


                            </div>
                        </div>

                    </div>

                    <!-- ADD BUTTON CONTAINER -->
                    <div class="add-button-container">


                        <!-- add task button-->
                        <div class="add-button-div">

                            <button type="submit" id="add-task"><i class="fi-xwsuxl-plus-solid"></i>
                                    ADD TASK</button>

                        </div>


                    </div>
                </form>
            </div>


        </div>



        <!-- TODO LIST CONTAINER CONTAINS THE LIST ITEM AND THE DELETE BUTTON DIV -->
        <div class="todo-list-container" id="style-1">


            <div class="delete-tasks-button-form" id="style-1">

                <!-- Delete Form Starts Here -->
                <form action="/delete-tasks" method="POST">

                    <!-- DELETE BUTTON CONATINER -->
                    <div class="delete-button-container">


                        <!-- delete tasks button -->
                        <div class="delete-button-div">

                            <button type="submit" id="delete-task"><i class="fi-xnsuxl-trash-bin"></i>
                                    DELETE TASKS</button>

                        </div>


                    </div>

                    <div class="create-overflow" id="style-1">
                        <!-- CREATING THE TASK LIST -->
                        <div class="tasks-container">

                            <UL class="unordered-list">
                                <!-- for loop for variable no. of elements in task list -->
                                <% for(let i of task_list){%>
                                    <!-- list-div contains a single task -->
                                    <div class="list-div">
                                        <!-- single-task contains two divs left and right to appropriately position the elements -->
                                        <li class="single-task">
                                            <!-- left div contains the checkbox div, and task detail div-->
                                            <div class="left">
                                                <!-- check box div -->
                                                <div class="check-box">
                                                    <!-- Check Box -->
                                                    <input type="checkbox" id="task-check" value="<%= i._id %>" name="check<%= i._id %>">
                                                </div>
                                                <!-- Task-detail-container contains task description and the due date -->
                                                <div class="task-detail-container">
                                                    <!-- Task Dscription -->
                                                    <div class="task-description">
                                                        <h5>
                                                            <%=i.task_title %>
                                                        </h5>
                                                    </div>
                                                    <!-- Due Date -->
                                                    <div class="task-due-date-container">
                                                        <h5>
                                                            <%= i.due_date %>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- right div contains the category div which specifies the different categories of the tasks -->
                                            <div class="right">
                                                <!-- Task Category div -->
                                                <div class="task-category-container">
                                                    <!-- conditions for adding different colors to the different categories of task -->
                                                    <% if (i.category=="Personal") { %>
                                                        <div class="xyz bg-seagreen">
                                                            <h5>
                                                                <%= i.category %>
                                                            </h5>
                                                        </div>
                                                        <% } else if (i.category=="Work") { %>
                                                            <div class="xyz bg-orange ">
                                                                <h5>
                                                                    <%= i.category %>
                                                                </h5>
                                                            </div>
                                                            <% } else if (i.category=="School") { %>
                                                                <div class="xyz bg-green ">
                                                                    <h5>
                                                                        <%= i.category %>
                                                                    </h5>
                                                                </div>
                                                                <% } else if (i.category=="Other") { %>
                                                                    <div class="xyz bg-violet ">
                                                                        <h5>
                                                                            <%= i.category %>
                                                                        </h5>
                                                                    </div>

                                                                    <% } else if (i.category=="Cleaning") { %>
                                                                        <div class="xyz bg-blue ">
                                                                            <h5>
                                                                                <%= i.category %>
                                                                            </h5>
                                                                        </div>
                                                                        <% } %>
                                                </div>
                                            </div>

                                        </li>
                                    </div>

                                    <%}%>
                            </UL>

                        </div>
                    </div>

                </form>

            </div>

        </div>


    </div>






    <!-- Please Do Check -->
    <!-- js script added at bottom of body -->
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>